<% if (typeof error !== 'undefined' && error === 'admin_only') { %>
    <script>
        alert("관리자만 접근 가능합니다.");
    </script>
<% } %>

<% if (typeof user !== 'undefined' && user) { %>
    <div class="success-container" id="success-container" >
        <h1>환영합니다.</h1>
        <p>대표 주소를 등록해서 주변지도를 완성해보세요.</p>
        <div class="user-info">
            <img id="profile-image" src="<%= user.picture %>" alt="카카오프로필" class="profile-img">
            <p><strong id="nickname"><%= user.name %>님 안녕하세요</strong></p>
        </div>

        <!-- 주소 별칭 선택 영역 -->
        <div class="address-alias">
            <div class="address-type-buttons">
                <input type="radio" id="home" name="address-type" value="H" hidden >
                <label for="home" class="type-btn">
                    <span>🏠</span>
                    <p>집</p>
                </label>

                <input type="radio" id="work" name="address-type" value="W" hidden >
                <label for="work" class="type-btn">
                    <span>🏢</span>
                    <p>회사</p>
                </label>
            </div>
        </div>

        <div id="search_addr_area" style="display:none;border:1px solid;width:350px;height:300px;margin:5px 0;position:relative">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" 
                 id="btnFoldWrap" 
                 style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" 
                 onclick="SearchAreaToggle()" 
                 alt="접기 버튼">
        </div>

        <!-- 주소 등록 입력 필드 -->
        <div class="address-container">
            <div class="address-input">
                <input type="text" id="address" placeholder="주소를 입력하세요" onfocus="SearchAddress();"/>
                <button class="search-address-button" onclick="SearchAddress();">검색</button>
            </div>
            <button class="register-address-button" onclick="RegisterAddress();">주소 등록</button>
        </div>

        <!-- <button class="logout-button" onclick="logout()">로그아웃</button> -->
    </div>
<% } else { %>
    <div class="login-container" id="login-container" >
        <h1>로그인하기</h1>
        <p>로그인하여 다양한 기능을 사용하세요.</p>
        <a class="kakao-login" onclick="loginWithKakao();">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/KakaoTalk_logo.svg" alt="KakaoTalk Logo">
            카카오톡으로 로그인
        </a>
    </div>
<% } %>


<script  type="text/javascript" src="../public/js/login.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
