<% if (typeof error !== 'undefined' && error === 'admin_only') { %>
    <script>
        alert("관리자만 접근 가능합니다.");
    </script>
<% } %>

<% if (typeof user !== 'undefined' && user) { %>
    <div class="success-container" id="success-container" >
        <h1>환영합니다.</h1>
        <p>대표 주소를 등록해서 주변지도를 완성해보세요.</p>
        <div class="user-info">
            <img id="profile-image" src="<%= user.picture %>" alt="카카오프로필" class="profile-img">
            <p><strong id="nickname"><%= user.name %>님 안녕하세요</strong></p>
        </div>

        <% if (user && user.detail && user.detail.length > 0) { %>
          <!-- 등록된 주소 데이터가 있을 때 -->
          <div class="registered-address-container">
            <h1>내 주소 정보</h1>
            <% user.detail.forEach(function(detail) { %>
                <div class="registered-address">
                  <p class="address-type">
                    <%= detail.addr_type === 'H' ? '🏠 ' : (detail.addr_type === 'W' ? '🏢 ' : '') %>
                  </p>
                  <p class="address-text"><%= detail.addr %></p>
                </div>
            <% }); %>
            <!-- 추가하기 버튼: 클릭 시 등록 영역을 토글하도록 JS 이벤트 추가 -->
            <button id="toggleRegistrationArea" class="btn" onclick="toggleAddressAdd();">추가하기</button>
          </div>
          
          <!-- 추가 주소 등록 입력 영역 (초기엔 숨김) -->
          <div class="address-alias" id="registration-area" style="display: none;">
            <div class="address-type-buttons">
              <input type="radio" id="home" name="address-type" value="H" hidden>
              <label for="home" class="type-btn">
                <span>🏠</span>
                <p>집</p>
              </label>
              <input type="radio" id="work" name="address-type" value="W" hidden>
              <label for="work" class="type-btn">
                <span>🏢</span>
                <p>회사</p>
              </label>
            </div>
            <div class="address-container">
              <div class="address-input">
                <input type="text" id="address" placeholder="주소를 입력하세요" onfocus="SearchAddressLayer();"/>
              </div>
              <button class="btn" onclick="RegisterAddress();">주소 등록</button>
            </div>
          </div>
        <% } else { %>
          <!-- 등록된 주소 데이터가 없으면 주소 등록 UI 노출 -->
          <div class="address-alias">
            <h1>주소를 등록해봐!</h1>
            <div class="address-type-buttons">
              <input type="radio" id="home" name="address-type" value="H" hidden>
              <label for="home" class="type-btn">
                <span>🏠</span>
                <p>집</p>
              </label>
              <input type="radio" id="work" name="address-type" value="W" hidden>
              <label for="work" class="type-btn">
                <span>🏢</span>
                <p>회사</p>
              </label>
            </div>
            <div class="address-container">
              <div class="address-input">
                <input type="text" id="address" placeholder="주소를 입력하세요" onfocus="SearchAddressLayer();"/>
             </div>
              <button class="btn" onclick="RegisterAddress();">주소 등록</button>
            </div>
          </div>
        <% } %>

        <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
          <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="SearchLayerToggle()" alt="닫기 버튼">
      </div>
    </div>
<% } else { %>
    <div class="login-container" id="login-container" >
        <h1>로그인하기</h1>
        <p>로그인하여 다양한 기능을 사용하세요.</p>
        <a class="kakao-login" onclick="loginWithKakao();">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/KakaoTalk_logo.svg" alt="KakaoTalk Logo">
            카카오톡으로 로그인
        </a>
    </div>
<% } %>


<script  type="text/javascript" src="../public/js/login.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
