<% if (typeof user === 'undefined') { %>
    <script>
        alert("로그인해야 가능한 서비스 입니다.");
        window.location.href = '/login';
    </script>
<% } %>
<%- css = '<link rel="stylesheet" href="/css/registerStore.css">' %>

<div class="register-container">
    <h2>🥳 음식점 등록</h2>
    
    <form id="storeRegisterForm">
        <label for="storeName">🍽️ 음식점 이름</label>
        <input type="text" id="storeName" placeholder="음식점 이름을 입력하세요" required>

        <label for="storeAddress">📍 주소 입력</label>
        <input type="text" id="storeAddress" placeholder="주소를 입력하세요" required>

        <label for="storeAddress">⚙️ 음식점 대분류</label>
        <div class="custom-select">
            <select id="majorTypeSelect" onchange="selectMajorType(this)">
                <option value="0" disabled selected>분류를 선택하세요.</option>
                <% storeTypes.forEach(function(store) { %>
                    <option value="<%= store.major_type %>"><%= store.type_name %></option>
                <% }); %>
            </select>
        </div>

        <!-- <label for="storeAddress">⚙️ 음식점 소분류</label>
        <div class="custom-select">
            <select>
                <option value="0" disabled selected>분류를 선택하세요.</option>
                <option value="1">옵션1</option>
                <option value="2">옵션2</option>
                <option value="3">옵션3</option>
                <option value="4">옵션4</option>
            </select>
        </div> -->


        <div class="checkbox-container">
            <input type="checkbox" id="isBeefulPay">
            <label for="isBeefulPay">💳 제로페이 가맹점 여부</label>
        </div>

        <button type="button" class="submit-button" onclick="registerStore()">등록하기</button>
    </form>
</div>

<%- script = '<script src="../public/js/registerStore.js"></script>' %>
<script src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=87ni0cgqze&submodules=geocoder"></script>
